<!--
  templateType: global_partial
  label: Website header
-->

<header>
    
    {# Top header drag and drop area #}
  
    {% dnd_area "header-top"
      label="Top header",
      class="content-wrapper"
    %}
    {% end_dnd_area %}
  
    {# Main header #}
  
    <div class="header__container content-wrapper">
  
      {# Logo #}
  
      <div class="header__logo">
        {% module "site_logo"
          path="@hubspot/logo"
          img={
            "loading": "eager"
          }
        %}
      </div>
  
    </div>
  
    {# Bottom header drag and drop area #}
  
    {% dnd_area "header-bottom"
      label="Bottom header",
      class="content-header"
    %}
        {% dnd_section %}
            {% dnd_module path="/theme-use-Vue.js/modules/navbar.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
    {% end_dnd_area %}

</header>