<!--
    templateType: page
    label: Info Page
    isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}

{% block slideshow %}
  {% dnd_area "dnd_area_slide"  label="Main Slide" %}
    {% dnd_section %}
        {% dnd_module path="/theme-use-Vue.js/modules/slide.module" %}{% end_dnd_module %}
    {% end_dnd_section %}
  {% end_dnd_area %}
{% endblock slideshow %}

{% block body %}
    {% dnd_area "dnd_area"  label="Main section",  class="body-container body-container--about" %}
        {% dnd_section %}
            {% dnd_module path="/theme-use-Vue.js/modules/info-design.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
        {% dnd_section %}
            {% dnd_module path="/theme-use-Vue.js/modules/divider.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
        {% dnd_section %}
            {% dnd_module path="/theme-use-Vue.js/modules/info-icon-grid.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
    {% end_dnd_area %}
{% endblock body %}
